@charset "utf-8";

body {
    color: #827e74;
}
p {
    padding: 1.5rem;
    margin: 0;
}

form p {
    padding-left: 0;
    padding-right: 0;
}

p + p {
    padding-top: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.page {
    padding: 50px;
}

.page__title {
    text-align: center;
}

.main-theme {
    font-size: 22px;
}

.img-box {
    padding: 20px;
}

.img-box img {
    width: 50%;
}

.page__submit {
    display: block;
    margin: 0 auto 1rem;
}

.spoiler {
    padding: 0.5rem;
    border: 1px solid #343a40;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.spoiler + .btn {
    margin-top: 1rem;
}

.page__spoiler {
    margin: 1.5rem 1.5rem 0;
}

fieldset {
    margin: 0 2rem;
}

.answer {
    position: relative;
    margin-left: 0;
}

.answer_input {
    margin: 0;
    position: relative;
    width: 300px;
}

.form-check {
    padding-left: 0;
}

.form-group:not(:first-of-type) .page__paragraph_question {
    padding-top: 0;
}